<a href="https://colab.research.google.com/github/nehaa28/pyspark_practice/blob/main/Pyspark_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=e254bd9cfb8c5cef57965dcbe1727f85c4ea3c936a4d8e9ced76361ad056d4c5
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('/content/test1.csv')

    Name  Age
0   Abba   31
1  Jabba   21
2  Dabba   23

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_spark = spark.read.csv("/content/test1.csv")

In [8]:
df_spark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Abba| 31|
|Jabba| 21|
|Dabba| 23|
+-----+---+

In [9]:
df_spark = spark.read.option('header','true').csv('test1.csv')

In [10]:
spark.read.option('header','true').csv('test1.csv').show()

+-----+---+
| Name|Age|
+-----+---+
| Abba| 31|
|Jabba| 21|
|Dabba| 23|
+-----+---+

In [11]:
df_spark.show()

+-----+---+
| Name|Age|
+-----+---+
| Abba| 31|
|Jabba| 21|
|Dabba| 23|
+-----+---+

In [12]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_spark.head(3)

[Row(Name='Abba', Age='31'),
 Row(Name='Jabba', Age='21'),
 Row(Name='Dabba', Age='23')]

In [14]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)